{% extends "index.html" %}{% block title %}Appointments{% endblock %}
{% block content %}
<section id="appointments" class="cards">
    <h1>Appointments</h1>
    <div class="flex-cards">
        <!--
        <article>
            <div class="title_box">
                <div class="photo"><img class="center-img" src="../static/images/user.png" alt="Doctor"></div>
                <div class="doctor-identity">
                    <h2><strong>Dr. John Doe</strong></h2>
                    <h3>Psychologist</h3>
                    <h3><span>1 km</span> from you</h3>
                </div>
            </div> 
            <hr>
            <div class="information ">
                <div class="appointment-day"><strong>Date: </strong>Tueday 20 May, 2023</div>
                <div class="appointment-time"><strong>Time: </strong>08:00 AM - 09:00 AM</div>
                <div class="appointment-status"><strong>Status: </strong>Upcoming</div>
                <div class="appointmenttype"><strong>Type: </strong>Physical</div>
                <div class="appointment-place"><strong>Office address: </strong>City</div>
                <div class="appointment-symptoms"><strong>Symptoms: </strong>
                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolorem laborum provident explicabo labore odit esse inventore, nemo possimus, unde quasi quae amet quisquam ipsum vero optio harum nihil quidem natus?</div>
            </div>
            
            <button class="btn-book btn-cancel center-img" type="submit">Cancel</button>
        </article>
        <article>
            <div class="title_box">
                <div class="photo"><img class="center-img" src="../static/images/user.png" alt="Doctor"></div>
                <div class="doctor-identity">
                    <h2><strong>Dr. John Doe</strong></h2>
                    <h3>Psychologist</h3>
                    <h3><span>1 km</span> from you</h3>
                </div>
            </div> 
            <hr>
            <div class="information ">
                <div class="appointment-day"><strong>Date: </strong>Tueday 20 May, 2023</div>
                <div class="appointment-time"><strong>Time: </strong>08:00 AM - 09:00 AM</div>
                <div class="appointment-status"><strong>Status: </strong>Upcoming</div>
                <div class="appointmenttype"><strong>Type: </strong>Physical</div>
                <div class="appointment-place"><strong>Office address: </strong>City</div>
                <div class="appointment-symptoms"><strong>Symptoms: </strong>
                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolorem laborum provident explicabo labore odit esse inventore, nemo possimus, unde quasi quae amet quisquam ipsum vero optio harum nihil quidem natus?</div>
            </div>
            
            <button class="btn-book btn-cancel center-img" type="submit">Cancel</button>
        </article>
        <article>
            <div class="title_box">
                <div class="photo"><img class="center-img" src="../static/images/user.png" alt="Doctor"></div>
                <div class="doctor-identity">
                    <h2><strong>Dr. John Doe</strong></h2>
                    <h3>Psychologist</h3>
                    <h3><span>1 km</span> from you</h3>
                </div>
            </div> 
            <hr>
            <div class="information ">
                <div class="appointment-day"><strong>Date: </strong>Tueday 20 May, 2023</div>
                <div class="appointment-time"><strong>Time: </strong>08:00 AM - 09:00 AM</div>
                <div class="appointment-status"><strong>Status: </strong>Upcoming</div>
                <div class="appointmenttype"><strong>Type: </strong>Physical</div>
                <div class="appointment-place"><strong>Office address: </strong>City</div>
                <div class="appointment-symptoms"><strong>Symptoms: </strong>
                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolorem laborum provident explicabo labore odit esse inventore, nemo possimus, unde quasi quae amet quisquam ipsum vero optio harum nihil quidem natus?</div>
            </div>
            
            <button class="btn-book btn-cancel center-img" type="submit">Cancel</button>
        </article>
        <article>
            <div class="title_box">
                <div class="photo"><img class="center-img" src="../static/images/user.png" alt="Doctor"></div>
                <div class="doctor-identity">
                    <h2><strong>Dr. John Doe</strong></h2>
                    <h3>Psychologist</h3>
                    <h3><span>1 km</span> from you</h3>
                </div>
            </div> 
            <hr>
            <div class="information ">
                <div class="appointment-day"><strong>Date: </strong>Tueday 20 May, 2023</div>
                <div class="appointment-time"><strong>Time: </strong>08:00 AM - 09:00 AM</div>
                <div class="appointment-status"><strong>Status: </strong>Upcoming</div>
                <div class="appointmenttype"><strong>Type: </strong>Physical</div>
                <div class="appointment-place"><strong>Office address: </strong>City</div>
                <div class="appointment-symptoms"><strong>Symptoms: </strong>
                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolorem laborum provident explicabo labore odit esse inventore, nemo possimus, unde quasi quae amet quisquam ipsum vero optio harum nihil quidem natus?</div>
            </div>
            
            <button class="btn-book btn-cancel center-img" type="submit">Cancel</button>
        </article>
        <article>
            <div class="title_box">
                <div class="photo"><img class="center-img" src="../static/images/user.png" alt="Doctor"></div>
                <div class="doctor-identity">
                    <h2><strong>Dr. John Doe</strong></h2>
                    <h3>Psychologist</h3>
                    <h3><span>1 km</span> from you</h3>
                </div>
            </div> 
            <hr>
            <div class="information ">
                <div class="appointment-day"><strong>Date: </strong>Tueday 20 May, 2023</div>
                <div class="appointment-time"><strong>Time: </strong>08:00 AM - 09:00 AM</div>
                <div class="appointment-status"><strong>Status: </strong>Upcoming</div>
                <div class="appointmenttype"><strong>Type: </strong>Physical</div>
                <div class="appointment-place"><strong>Office address: </strong>City</div>
                <div class="appointment-symptoms"><strong>Symptoms: </strong>
                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolorem laborum provident explicabo labore odit esse inventore, nemo possimus, unde quasi quae amet quisquam ipsum vero optio harum nihil quidem natus?</div>
            </div>
            
            <button class="btn-book btn-cancel center-img" type="submit">Cancel</button>
        </article>
        <article>
            <div class="title_box">
                <div class="photo"><img class="center-img" src="../static/images/user.png" alt="Doctor"></div>
                <div class="doctor-identity">
                    <h2><strong>Dr. John Doe</strong></h2>
                    <h3>Psychologist</h3>
                    <h3><span>1 km</span> from you</h3>
                </div>
            </div> 
            <hr>
            <div class="information ">
                <div class="appointment-day"><strong>Date: </strong>Tueday 20 May, 2023</div>
                <div class="appointment-time"><strong>Time: </strong>08:00 AM - 09:00 AM</div>
                <div class="appointment-status"><strong>Status: </strong>Upcoming</div>
                <div class="appointmenttype"><strong>Type: </strong>Physical</div>
                <div class="appointment-place"><strong>Office address: </strong>City</div>
                <div class="appointment-symptoms"><strong>Symptoms: </strong>
                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolorem laborum provident explicabo labore odit esse inventore, nemo possimus, unde quasi quae amet quisquam ipsum vero optio harum nihil quidem natus?</div>
            </div>
            
            <button class="btn-book btn-cancel center-img" type="submit">Cancel</button>
        </article>
        -->
    </div>
</section>
<section id="appointments2" class="cards">
    <!---->
    <h1><!--Past Appointments--></h1>
    <div class="flex-cards">
        <!--
        <article>
            <div class="title_box">
                <div class="photo"><img class="center-img" src="../static/images/user.png" alt="Doctor"></div>
                <div class="doctor-identity">
                    <h2><strong>Dr. John Doe</strong></h2>
                    <h3>Psychologist</h3>
                    <h3><span>1 km</span> from you</h3>
                </div>
            </div>
            <hr>
            <div class="information ">
                <div class="appointment-day"><strong>Date: </strong>Tueday 20 May, 2023</div>
                <div class="appointment-time"><strong>Time: </strong>08:00 AM - 09:00 AM</div>
                <div class="appointment-status"><strong>Status: </strong>Upcoming</div>
                <div class="appointmenttype"><strong>Type: </strong>Physical</div>
                <div class="appointment-place"><strong>Office address: </strong>City</div>
                <div class="appointment-symptoms"><strong>Symptoms: </strong>
                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolorem laborum provident explicabo labore odit esse inventore, nemo possimus, unde quasi quae amet quisquam ipsum vero optio harum nihil quidem natus?</div>
            </div>
        </article>
        <article>
            <div class="title_box">
                <div class="photo"><img class="center-img" src="../static/images/user.png" alt="Doctor"></div>
                <div class="doctor-identity">
                    <h2><strong>Dr. John Doe</strong></h2>
                    <h3>Psychologist</h3>
                    <h3><span>1 km</span> from you</h3>
                </div>
            </div>
            <hr>
            <div class="information ">
                <div class="appointment-day"><strong>Date: </strong>Tueday 20 May, 2023</div>
                <div class="appointment-time"><strong>Time: </strong>08:00 AM - 09:00 AM</div>
                <div class="appointment-status"><strong>Status: </strong>Upcoming</div>
                <div class="appointmenttype"><strong>Type: </strong>Physical</div>
                <div class="appointment-place"><strong>Office address: </strong>City</div>
                <div class="appointment-symptoms"><strong>Symptoms: </strong>
                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolorem laborum provident explicabo labore odit esse inventore, nemo possimus, unde quasi quae amet quisquam ipsum vero optio harum nihil quidem natus?</div>
            </div>
        </article>
        <article>
            <div class="title_box">
                <div class="photo"><img class="center-img" src="../static/images/user.png" alt="Doctor"></div>
                <div class="doctor-identity">
                    <h2><strong>Dr. John Doe</strong></h2>
                    <h3>Psychologist</h3>
                    <h3><span>1 km</span> from you</h3>
                </div>
            </div>
            <hr>
            <div class="information ">
                <div class="appointment-day"><strong>Date: </strong>Tueday 20 May, 2023</div>
                <div class="appointment-time"><strong>Time: </strong>08:00 AM - 09:00 AM</div>
                <div class="appointment-status"><strong>Status: </strong>Upcoming</div>
                <div class="appointmenttype"><strong>Type: </strong>Physical</div>
                <div class="appointment-place"><strong>Office address: </strong>City</div>
                <div class="appointment-symptoms"><strong>Symptoms: </strong>
                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolorem laborum provident explicabo labore odit esse inventore, nemo possimus, unde quasi quae amet quisquam ipsum vero optio harum nihil quidem natus?</div>
            </div>
        </article>
        <article>
            <div class="title_box">
                <div class="photo"><img class="center-img" src="../static/images/user.png" alt="Doctor"></div>
                <div class="doctor-identity">
                    <h2><strong>Dr. John Doe</strong></h2>
                    <h3>Psychologist</h3>
                    <h3><span>1 km</span> from you</h3>
                </div>
            </div>
            <hr>
            <div class="information ">
                <div class="appointment-day"><strong>Date: </strong>Tueday 20 May, 2023</div>
                <div class="appointment-time"><strong>Time: </strong>08:00 AM - 09:00 AM</div>
                <div class="appointment-status"><strong>Status: </strong>Upcoming</div>
                <div class="appointmenttype"><strong>Type: </strong>Physical</div>
                <div class="appointment-place"><strong>Office address: </strong>City</div>
                <div class="appointment-symptoms"><strong>Symptoms: </strong>
                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolorem laborum provident explicabo labore odit esse inventore, nemo possimus, unde quasi quae amet quisquam ipsum vero optio harum nihil quidem natus?</div>
            </div>
        </article>
        <article>
            <div class="title_box">
                <div class="photo"><img class="center-img" src="../static/images/user.png" alt="Doctor"></div>
                <div class="doctor-identity">
                    <h2><strong>Dr. John Doe</strong></h2>
                    <h3>Psychologist</h3>
                    <h3><span>1 km</span> from you</h3>
                </div>
            </div>
            <hr>
            <div class="information ">
                <div class="appointment-day"><strong>Date: </strong>Tueday 20 May, 2023</div>
                <div class="appointment-time"><strong>Time: </strong>08:00 AM - 09:00 AM</div>
                <div class="appointment-status"><strong>Status: </strong>Upcoming</div>
                <div class="appointmenttype"><strong>Type: </strong>Physical</div>
                <div class="appointment-place"><strong>Office address: </strong>City</div>
                <div class="appointment-symptoms"><strong>Symptoms: </strong>
                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolorem laborum provident explicabo labore odit esse inventore, nemo possimus, unde quasi quae amet quisquam ipsum vero optio harum nihil quidem natus?</div>
            </div>
        </article>
        -->
    </div>
</section>
{% endblock %}
