{% extends "index.html" %}{% block title %}Booking{% endblock %}
{% block content %}
<section id="booking" class="booking">
    <h1>You are about to book an appointment</h1>
    <form method="POST" class="">
        <div class="booking-form-container">
            <div class="booking-form-fieldset">
                <fieldset class="booking-form-container-item">
                    <legend>How are you feeling ?</legend>
                    <div class="booking-form-group">
                        <input type="checkbox" class="booking-form-control" id="dizzy" name="dizzy">
                        <label for="dizzy">I feel dizzy</label>
                    </div>
                    <div class="booking-form-group">
                        <input type="checkbox" class="form-control" id="dizzy" name="dizzy">
                        <label for="dizzy">I feel dizzy</label>
                    </div>
                    <div class="booking-form-group">
                        <input type="checkbox" class="booking-form" id="dizzy" name="dizzy">
                        <label for="dizzy">I feel dizzy</label>
                    </div>
                </fieldset>
                <fieldset class="booking-form-container-item">
                    <legend>How are you feeling ?</legend>
                    <div class="booking-form-group">
                        <input type="checkbox" class="booking-form-control" id="dizzy" name="dizzy">
                        <label for="dizzy">I feel dizzy</label>
                    </div>
                    <div class="booking-form-group">
                        <input type="checkbox" class="form-control" id="dizzy" name="dizzy">
                        <label for="dizzy">I feel dizzy</label>
                    </div>
                    <div class="booking-form-group">
                        <input type="checkbox" class="booking-form" id="dizzy" name="dizzy">
                        <label for="dizzy">I feel dizzy</label>
                    </div>
                </fieldset>
                <fieldset class="booking-form-container-item">
                    <legend>How are you feeling ?</legend>
                    <div class="booking-form-group">
                        <input type="checkbox" class="booking-form-control" id="dizzy" name="dizzy">
                        <label for="dizzy">I feel dizzy</label>
                    </div>
                    <div class="booking-form-group">
                        <input type="checkbox" class="form-control" id="dizzy" name="dizzy">
                        <label for="dizzy">I feel dizzy</label>
                    </div>
                    <div class="booking-form-group">
                        <input type="checkbox" class="booking-form" id="dizzy" name="dizzy">
                        <label for="dizzy">I feel dizzy</label>
                    </div>
                </fieldset>
                <fieldset class="booking-form-container-item">
                    <legend>How are you feeling ?</legend>
                    <div class="booking-form-group">
                        <input type="checkbox" class="booking-form-control" id="dizzy" name="dizzy">
                        <label for="dizzy">I feel dizzy</label>
                    </div>
                    <div class="booking-form-group">
                        <input type="checkbox" class="form-control" id="dizzy" name="dizzy">
                        <label for="dizzy">I feel dizzy</label>
                    </div>
                    <div class="booking-form-group">
                        <input type="checkbox" class="booking-form" id="dizzy" name="dizzy">
                        <label for="dizzy">I feel dizzy</label>
                    </div>
                </fieldset>
                <fieldset class="booking-form-container-item">
                    <legend>How are you feeling ?</legend>
                    <div class="booking-form-group">
                        <input type="checkbox" class="booking-form-control" id="dizzy" name="dizzy">
                        <label for="dizzy">I feel dizzy</label>
                    </div>
                    <div class="booking-form-group">
                        <input type="checkbox" class="form-control" id="dizzy" name="dizzy">
                        <label for="dizzy">I feel dizzy</label>
                    </div>
                    <div class="booking-form-group">
                        <input type="checkbox" class="booking-form" id="dizzy" name="dizzy">
                        <label for="dizzy">I feel dizzy</label>
                    </div>
                </fieldset>
                <fieldset class="booking-form-container-item">
                    <legend>How are you feeling ?</legend>
                    <div class="booking-form-group">
                        <input type="checkbox" class="booking-form-control" id="dizzy" name="dizzy">
                        <label for="dizzy">I feel dizzy</label>
                    </div>
                    <div class="booking-form-group">
                        <input type="checkbox" class="form-control" id="dizzy" name="dizzy">
                        <label for="dizzy">I feel dizzy</label>
                    </div>
                    <div class="booking-form-group">
                        <input type="checkbox" class="booking-form" id="dizzy" name="dizzy">
                        <label for="dizzy">I feel dizzy</label>
                    </div>
                </fieldset>
                <fieldset class="booking-form-container-item">
                    <legend>How are you feeling ?</legend>
                    <div class="booking-form-group">
                        <input type="checkbox" class="booking-form-control" id="dizzy" name="dizzy">
                        <label for="dizzy">I feel dizzy</label>
                    </div>
                    <div class="booking-form-group">
                        <input type="checkbox" class="form-control" id="dizzy" name="dizzy">
                        <label for="dizzy">I feel dizzy</label>
                    </div>
                    <div class="booking-form-group">
                        <input type="checkbox" class="booking-form" id="dizzy" name="dizzy">
                        <label for="dizzy">I feel dizzy</label>
                    </div>
                </fieldset>
                <fieldset class="booking-form-container-item">
                    <legend>How are you feeling ?</legend>
                    <div class="booking-form-group">
                        <input type="checkbox" class="booking-form-control" id="dizzy" name="dizzy">
                        <label for="dizzy">I feel dizzy</label>
                    </div>
                    <div class="booking-form-group">
                        <input type="checkbox" class="form-control" id="dizzy" name="dizzy">
                        <label for="dizzy">I feel dizzy</label>
                    </div>
                    <div class="booking-form-group">
                        <input type="checkbox" class="booking-form" id="dizzy" name="dizzy">
                        <label for="dizzy">I feel dizzy</label>
                    </div>
                </fieldset>
                <fieldset class="booking-form-container-item">
                    <legend>How are you feeling ?</legend>
                    <div class="booking-form-group">
                        <input type="checkbox" class="booking-form-control" id="dizzy" name="dizzy">
                        <label for="dizzy">I feel dizzy</label>
                    </div>
                    <div class="booking-form-group">
                        <input type="checkbox" class="form-control" id="dizzy" name="dizzy">
                        <label for="dizzy">I feel dizzy</label>
                    </div>
                    <div class="booking-form-group">
                        <input type="checkbox" class="booking-form" id="dizzy" name="dizzy">
                        <label for="dizzy">I feel dizzy</label>
                    </div>
                </fieldset>
                <fieldset class="booking-form-container-item">
                    <legend>How are you feeling ?</legend>
                    <div class="booking-form-group">
                        <input type="checkbox" class="booking-form-control" id="dizzy" name="dizzy">
                        <label for="dizzy">I feel dizzy</label>
                    </div>
                    <div class="booking-form-group">
                        <input type="checkbox" class="form-control" id="dizzy" name="dizzy">
                        <label for="dizzy">I feel dizzy</label>
                    </div>
                    <div class="booking-form-group">
                        <input type="checkbox" class="booking-form" id="dizzy" name="dizzy">
                        <label for="dizzy">I feel dizzy</label>
                    </div>
                </fieldset>
            </div>
          
            <div class="booking-form-group booking-form-group-textarea">
                <label class="grid-item-1" for="message">Do you want to add something ?</label>
                <textarea class="booking-form-control booking-form-text" id="message" name="message" placeholder="Add something..."></textarea>
            </div>

            <div class="form-buttons">
                    <button class=" btn-cancel btn-primary2 btn-booking" type="submit">Cancel</button>
                    <button class=" btn-primary btn-booking" type="submit">Confirm</button>
            </div>
        </div>
    </form>
</section>
{% endblock %}
