{% extends "index.html" %}{% block title %}Login{% endblock %}
{% block content %}
<section id="login" class="login">
    <h1>Log in</h1>
    <form method="POST" class="sign-up">
        <div class="form-container">
            <!--
            <div class="form-group">
                <label for="user_name">Username:</label>
                <input type="text" class="form-control" id="user_name" name="user_name" placeholder="Enter username" required>
            </div>
            -->
            <div class="form-group">
                <label for="email">Email:</label>
                <input type="email" class="form-control" id="email" name="email" placeholder="Enter email" required>
            </div>
            <div class="form-group">
                <label for="password">Password:</label>
                <input type="password" class="form-control" id="password" name="password" placeholder="Enter password" required>
            </div>
            <div class="form-btn">
                <button class="btn-center btn-booking" type="submit">Log in</button>
            </div>
        </div>
    </form>
</section>
{% endblock %}