button {
    /*position: absolute; */
    font-size: 18px;
    background: #3cab72;
    color: #FFFFFF;
    height: 48px;
    width: 20%;
    border-style: none;
    border-radius: 4px;
    top: 15%;
    right: 30px;
}

button:hover {
    opacity: 0.9;
    cursor: pointer;
}

.btn-book {
    margin-top: 20px;
}

.btn-cancel {
    background: #c03539;
}

/*@media only screen and (max-width: 920px)
{*/
 /*   .flex-cards {
        display: flex;
        flex-direction: column;
        align-items: center;
        flex-wrap: wrap;
        }
    */
.flex-cards {
    display: flex;
    /*flex-direction: column;*/
     align-items: center;
    flex-wrap: wrap;
    column-count: 2;
    columns: 30em;
    justify-content: center; /*center*/
    padding: 0 20px;
    margin-top: 1%;
    margin-bottom: 2%;
}

.cards h1, .sign-up h1, .login h1, .store h1,
.account h1, .contact h1, .help h1, .settings h1,
.about h1, .terms-privacy h1, .booking h1 {
    display: block;
    width: 100%;
    /*border: 2px solid red;*/
    margin-right: 400px;
    margin-top: 30px;
    text-align: center;
    font-size: 35px;
    justify-content: stretch;
}

.flex-cards article {
    -webkit-column-break-inside: avoid;
    page-break-inside: avoid;
    display: inline-block;
    width: 390px;
    height: 10%;
    padding: 20px;
    margin: 20px;
    border: 1px solid #3cab72;
    border-radius: 4px;
}

.title_box h2 {
    text-align: center;
    margin: 10px auto;
    max-width: 75%;
    word-wrap: break-word;
    font-size: 18px;
}

.title_box h3 {
    text-align: center;
    margin: 10px auto;
    max-width: 75%;
    word-wrap: break-word;
    font-size: 16px;
}

.doctor-identity span {
    color:#3cab72;
}

.information {
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: auto;
    margin-bottom: auto;
    width: 100%;
}

.appointment-information span {
    font-weight: bold;
}

.appointment-day, .appointment-time,
.appointment-status, .appointmenttype,
.appointment-place, .appointment-symptoms {
    margin: 15px auto;
}

.flex-cards article a {
        color: rgb(248, 244, 244);
        text-decoration: none;
        /*padding: 12px 16px;
        display: block;*/
}

.information strong {
    font-weight: bold;
}